@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,800&family=Staatliches&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  list-style: none;
}

hr {
  width: 70%;
  position: relative;
  left: 15%;
}

.navbar {
  color: white;
  height: 80px;
}

.navbar-brand img {
  height: 40px;
}

.navbar-light .navbar-toggler {
  color: transparent;
  border: none;
}

.nav-link {
  font-size: 14px;
  font-weight: bold;
}

.btn {
  background-color: #037dd6;
  color: white;
  text-align: center;
  border-radius: 5px;
}

.btn:hover {
  color: white;
  background-color: #036bb4;
}

.i-btn {
  width: 200px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  margin-top: -10px;
  padding-top: 100px;
}

.intro-content {
  height: 500px;
}

.intro-text h2 {
  margin-top: 50px;
  color: black;
  font-size: 40px;
}

.intro-text i {
  color: #fafafa;
}

.intro-btn {
  width: 300px;
  height: auto;
}

.intro-btn img {
  height: 50px;
  margin: 10px 0;
}

.intro-img img {
  height: 90%;
  width: 90%;
}

#attribute .a-content {
  height: 100px;
  padding-top: 30px;
}

#attribute .a-content .a-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#attribute .a-content .a-card i {
  font-size: 20px;
  margin-top: -7px;
  margin-right: 10px;
  color: #037dd6;
}

#attribute .a-content .a-card h5 {
  font-weight: 600;
}

.cryptos {
  margin-top: 100px;
}

.cryptos img {
  height: 180px;
  margin: 50px;
}

.r-section {
  height: 300px;
  background-color: #24292e;
  margin-top: 100px;
}

.r-section h5 {
  color: white;
}

#reason .r-content {
  height: auto;
  text-align: center;
}

#reason .r-content .lists {
  height: auto;
  padding-bottom: 20px;
}

#reason .r-content .lists .lists-card {
  height: auto;
  margin-top: 30px;
}

#reason .r-content .lists .lists-card ul li {
  margin: 10px;
}

#reason .r-content .lists .lists-card ul li i {
  color: rgb(32, 32, 32);
  margin-right: 7px;
}

#reason .r-content a {
  margin: 30px;
  padding: 10px;
  background: #037dd6;
  color: white;
}

.main {
  margin-top: 150px;
}

.main-content {
  margin-top: 50px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px 3px rgb(238, 237, 237);
}

footer {
  height: auto;
  margin-top: 50px;
  border-top: 2px solid rgb(235, 234, 234);
}

footer h5 {
  color: #f6851b;
  font-size: 18px;
}

footer img {
  height: 100px;
}

footer .f-content {
  height: auto;
}

footer .f-content ul li {
  margin-bottom: 20px;
}

footer .f-content a {
  color: rgba(0, 0, 0, 0.74);
  font-size: 12px;
}

footer .f-content i {
  font-size: 20px;
  margin: 0 10px;
}

.wallet {
  text-align: center;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
.wallet img {
  height: 45px;
  margin: 10px 0;
}

.wallet h2 {
  margin-top: 30px;
  color: rgb(67, 68, 71);
  font-weight: 500;
}
.wallet .r-container {
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px rgb(240, 239, 239);
  display: none;
}

#btn1 {
  width: 180px;
  height: 40px;
  font-weight: bold;
  background-color: transparent;
  color: #037dd6;
  border-radius: 10px;
  outline: none;
  border: 2px solid #037dd6;
  margin: 40px auto;
  cursor: pointer;
}

#btn2 {
  width: 180px;
  height: 40px;
  font-weight: bold;
  background-color: transparent;
  color: #037dd6;
  border-radius: 10px;
  outline: none;
  border: 2px solid #037dd6;
  margin: 40px auto;
  cursor: pointer;
}

#btn3 {
  width: 180px;
  height: 40px;
  font-weight: bold;
  background-color: transparent;
  color: #037dd6;
  border-radius: 10px;
  outline: none;
  border: 2px solid #037dd6;
  margin: 40px auto;
  cursor: pointer;
}

#btn4 {
  width: 180px;
  height: 40px;
  font-weight: bold;
  background-color: transparent;
  color: #037dd6;
  border-radius: 10px;
  outline: none;
  border: 2px solid #037dd6;
  margin: 40px auto;
  cursor: pointer;
}
#btn1:focus,
#btn2:focus {
  background-color: #037dd6;
  color: white;
}

#btn3:focus,
#btn4:focus {
  background-color: #037dd6;
  color: white;
}

.r-container {
  width: 60%;
  margin: 20px auto;
}

form {
  display: block;
  margin-top: 0em;
}

form input[type="text"] {
  margin: 20px 0;
  height: 30px;
  width: 180px;
  background-color: #037dd6;
  color: white;
  border: none;
  border-radius: 5px;
  outline: none;
}

form input::placeholder {
  color: white;
}

form .password {
  width: 300px;
  height: 30px;
  color: rgb(32, 31, 31);
  text-align: center;
  outline: none;
}

.input {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.input input {
  text-align: center;
}

.input span {
  margin: 20px;
}

@media screen and (max-width: 900px) {
  .navbar {
    padding-right: 10px;
  }
  .navbar-brand img {
    height: 40px;
    margin-left: 5px;
  }

  .navbar-nav {
    background-color: white;
    color: black;
  }

  .navbar-nav .nav-link {
    color: black;
  }

  .intro {
    height: 1000px;
    padding-bottom: 10px;
  }
  .intro-text {
    text-align: center;
    margin-bottom: 50px;
  }

  .i-btn {
    margin: 10px auto;
  }

  .intro-btn {
    margin: 5px auto;
  }

  #attribute .a-content {
    height: auto;
  }
  #attribute .a-content .a-card {
    margin-top: 20px;
  }
  #attribute .a-content .a-card i {
    font-size: 17px;
  }

  #attribute .a-content .a-card h5 {
    font-size: 17px;
  }

  .cryptos img {
    height: 170px;
  }

  .cryptos h4 {
    font-size: 20px;
  }

  .main h4 {
    font-size: 20px;
  }

  .r-container {
    width: 85%;
  }

  .wallet h1 {
    font-size: 25px;
  }

  .input span {
    margin: 20px 0;
  }
}















// Contents
//
// Navbar
// Navbar brand
// Navbar nav
// Navbar text
// Navbar divider
// Responsive navbar
// Navbar position
// Navbar themes


// Navbar
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap; // allow us to do the line break for collapsing content
  align-items: center;
  justify-content: space-between; // space out brand from logo
  padding: $navbar-padding-y $navbar-padding-x;

  // Because flex properties aren't inherited, we need to redeclare these first
  // few properties so that content nested within behave properly.
  > .container,
  > .container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}


// Navbar brand
//
// Used for brand, project, or site names.

.navbar-brand {
  display: inline-block;
  padding-top: $navbar-brand-padding-y;
  padding-bottom: $navbar-brand-padding-y;
  margin-right: $navbar-padding-x;
  font-size: $navbar-brand-font-size;
  line-height: inherit;
  white-space: nowrap;

  @include hover-focus {
    text-decoration: none;
  }
}


// Navbar nav
//
// Custom navbar navigation (doesn't require `.nav`, but does make use of `.nav-link`).

.navbar-nav {
  display: flex;
  flex-direction: column; // cannot use `inherit` to get the `.navbar`s value
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  .nav-link {
    padding-right: 0;
    padding-left: 0;
  }

  .dropdown-menu {
    position: static;
    float: none;
  }
}


// Navbar text
//
//

.navbar-text {
  display: inline-block;
  padding-top: $nav-link-padding-y;
  padding-bottom: $nav-link-padding-y;
}


// Responsive navbar
//
// Custom styles for responsive collapsing and toggling of navbar contents.
// Powered by the collapse Bootstrap JavaScript plugin.

// When collapsed, prevent the toggleable navbar contents from appearing in
// the default flexbox row orientation. Requires the use of `flex-wrap: wrap`
// on the `.navbar` parent.
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  // For always expanded or extra full navbars, ensure content aligns itself
  // properly vertically. Can be easily overridden with flex utilities.
  align-items: center;
}

// Button for toggling the navbar when in its collapsed state
.navbar-toggler {
  padding: $navbar-toggler-padding-y $navbar-toggler-padding-x;
  font-size: $navbar-toggler-font-size;
  line-height: 1;
  background-color: transparent; // remove default button style
  border: $border-width solid transparent; // remove default button style
  @include border-radius($navbar-toggler-border-radius);

  @include hover-focus {
    text-decoration: none;
  }

  // Opinionated: add "hand" cursor to non-disabled .navbar-toggler elements
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
}

// Keep as a separate element so folks can easily override it with another icon
// or image file as needed.
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

// Generate series of `.navbar-expand-*` responsive classes for configuring
// where your navbar collapses.
.navbar-expand {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    &#{$infix} {
      @include media-breakpoint-down($breakpoint) {
        > .container,
        > .container-fluid {
          padding-right: 0;
          padding-left: 0;
        }
      }

      @include media-breakpoint-up($next) {
        flex-flow: row nowrap;
        justify-content: flex-start;

        .navbar-nav {
          flex-direction: row;

          .dropdown-menu {
            position: absolute;
          }

          .nav-link {
            padding-right: $navbar-nav-link-padding-x;
            padding-left: $navbar-nav-link-padding-x;
          }
        }

        // For nesting containers, have to redeclare for alignment purposes
        > .container,
        > .container-fluid {
          flex-wrap: nowrap;
        }

        .navbar-collapse {
          display: flex !important;  // stylelint-disable-line declaration-no-important

          // Changes flex-bases to auto because of an IE10 bug
          flex-basis: auto;
        }

        .navbar-toggler {
          display: none;
        }
      }
    }
  }
}


// Navbar themes
//
// Styles for switching between navbars with light or dark background.

// Dark links against a light background
.navbar-light {
  .navbar-brand {
    color: $navbar-light-active-color;

    @include hover-focus {
      color: $navbar-light-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-light-color;

      @include hover-focus {
        color: $navbar-light-hover-color;
      }

      &.disabled {
        color: $navbar-light-disabled-color;
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: $navbar-light-active-color;
    }
  }

  .navbar-toggler {
    color: $navbar-light-color;
    border-color: $navbar-light-toggler-border-color;
  }

  .navbar-toggler-icon {
    background-image: $navbar-light-toggler-icon-bg;
  }

  .navbar-text {
    color: $navbar-light-color;
    a {
      color: $navbar-light-active-color;

      @include hover-focus {
        color: $navbar-light-active-color;
      }
    }
  }
}

// White links against a dark background
.navbar-dark {
  .navbar-brand {
    color: $navbar-dark-active-color;

    @include hover-focus {
      color: $navbar-dark-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-dark-color;

      @include hover-focus {
        color: $navbar-dark-hover-color;
      }

      &.disabled {
        color: $navbar-dark-disabled-color;
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: $navbar-dark-active-color;
    }
  }

  .navbar-toggler {
    color: $navbar-dark-color;
    border-color: $navbar-dark-toggler-border-color;
  }

  .navbar-toggler-icon {
    background-image: $navbar-dark-toggler-icon-bg;
  }

  .navbar-text {
    color: $navbar-dark-color;
    a {
      color: $navbar-dark-active-color;

      @include hover-focus {
        color: $navbar-dark-active-color;
      }
    }
  }
}
